html,
body {
    height: 100dvh;
    cursor: default;
    font: 18px "Chakra Petch", "Comic Sans MS", "sans-serif";
    box-sizing: content-box;
    margin: 0;
    overscroll-behavior: none;
}

article {
    width: 55%;
    right: 0;
    background: linear-gradient(to bottom right, white, #bd9ee5ff); /*rgb(193, 100, 100)*/
}

article:hover {
    background: linear-gradient(to bottom right, #bd9ee5ff, white);
}

aside {
    width: 45%;
    left: 0;
    background: linear-gradient(to bottom right, #bd9ee5ff, #a283c8);
    padding-bottom: 5%;
}

article,
aside {
    display: flex;
    position: fixed;
    min-height: 100%;
    top: 0;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: 14px;
    color: black;
    position: absolute;
    bottom: 0;
    left: 2.5%; /*45%*/
    padding-bottom: 2.5%;
    /* Outline: 1px solid limegreen !important;*/
}

a {
    color: black;
}

/*list horizontal design */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Right side border, and padding */
ul li {
    float: left;
    color: black;
    font-size: 0px;
    border-right: 1px solid black;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
    max-height: 16px;
    align-items: center;
}

/* To remove left padding and right border for first and last child's */
ul li:first-child {
    padding-left: 0px;
}

ul li:last-child {
    border: none;
}

li:hover > img, li > img {
    transform: scale(0);
    display: block;
}
li > img {
    transform: scale(1.25);
    visibility: visible;
}
li:hover > a, li > a {
    opacity: 1;
    font-size: 14px;
}
li > a {
    position: relative;
    font-size: 0;
    transition: font-size 0.3s ease-in-out;
}
